.side-bar{
    position: fixed;
    background-color: hsl(0, 0%, 0%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    transform: scale(0);
    transition: 0.5s;
    z-index: 100;
}
.side-bar.active{
    transform: scale(1);
}
.side-bar ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: 1.3rem;
}
.side-bar ul li{
    list-style: none;
    border-bottom: 2px solid white;
}
.side-bar ul li a{
    text-decoration: none;
    color: wheat;
}